.middle_top_body_users {
    width: 100%;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #20423F;
  }
  .working_space{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .working_space_img{
    display: flex;
    flex-direction: column;
    width: 6rem;
    justify-content: center;
    align-items: center;
  }
  .working_space_img img {
    position: absolute;
    width: 3.5rem;
  }
  
  .working_space_img > *:nth-child(3) {
    margin-left: 1rem;
    margin-top: -1rem;
  }
  .workingspace_title{
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: center;
    width: 15rem;
  }
  .workingspace_title h3{
    font-weight: 400;
  }
  .workingspace_title h3 img{
    margin-top: -1.5rem;
    margin-left: -1.5rem;
    margin-left: auto;
  }
  .workingspace_title p{
    margin: 0;
    margin-top: 0.5rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
  .workingspace_title p img{
    filter: grayscale(100%);
  }
  .working_space button{
    display: flex;
    padding-left: 1rem;
    padding-right: 1rem;
    align-items: center;
    justify-content: center;
    background-color: #F0C6FF;
    border: none;
    border-radius: 10px;
    height: 2rem;
    margin-left: 4rem;
  }
  .users_container {
    margin: 0 auto;
    margin-top: 5%;
    width: 77%;
    height: 80vh;
  }
  .users_list{
    overflow: auto;
    height: 78%;
  }
  .users_list::-webkit-scrollbar {
    width: 0.5rem;
    background-color: transparent;
  }
  
  .users_list::-webkit-scrollbar-thumb {
    background-color: transparent;
  }
  .users_container input{
    border: 3px solid black;
    border-radius: 10px;
    width: 15rem;
  }
  .users_list{
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
  }
  .users_list hr {
    border: none;
    padding: 0.1rem;
    height: 1px;
    background-color: black;
    opacity: 1;
    margin-bottom: 0.3rem;
    margin-top: 0.2rem;
  }
  .list_user{
    display: flex;
    align-items: center;
  }
  .list_user img{
    height: 2.8rem;
    margin-left: 1rem;
  }
  .user_name{
    height: 3rem;
    color: white;
    font-weight: 400;
    margin-left: 1rem;
  }
  .user_name h4{
    font-weight: 400;
  }
  .user_name p {
  }
  .user_list_control{
    display: flex;
    margin-left: auto;
    align-items: center;
    gap: 1rem;
  }
  .user_list_control h4{
    color: white;
    font-weight: 400;
  }
  .admin_user_btn{
    border: none;
    height: 1.5rem;
    background-color: #F0C6FF;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    border-radius: 10px;
    font-size: 22px;
    padding: 1rem
  }
  .remove_user_btn{
    border: none;
    height: 1.5rem;
    background-color: #7B69B5;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    border-radius: 10px;
    font-size: 22px;
    color: #F0C6FF;
    padding: 1rem;
    padding-left: 0rem;
  }
  .remove_user_btn img{
    width: 0.7rem;
    height: 0.7rem;
  }
  .Boards_Container {
    width: 100%;
    display: flex;
    min-height: 20%;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    margin-top: -2rem;
    margin-bottom: 1rem;
  }
  .BoardListed {
    width: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
  }
  
  .BoardListed_img {
    width: 100%;
    padding-bottom: 1%;
    object-fit: cover;
    z-index: 1;
    border-radius: 10px;
  }
  .BoardListed_name{
    color: white;
    position: absolute;
    z-index: 1;
    margin-top: 1%;
  }