.modal-container {
    width: 100vw;
    height: calc(100vh + 4.4rem);
    background: rgba(12, 4, 4, 0.65);
    position: absolute;
    top: -4.4rem;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-window {
    width: 345px;
    height: 560px;
    display: flex;
    flex-direction: column;
    gap: 35px;
    background-color: #6E4796;
    padding: 15px;
}


