@font-face {
    font-family: 'Caveat Brush';
    src: url('path/to/font/Caveat-Brush-Regular.ttf') format('truetype');
}

html, body {
    margin: 0;
    width: 100%;
    height: 100%;
    position: relative;
    scrollbar-width: 2px;
    scrollbar-color: #1a202c;
    overflow: hidden;
}

html::before, body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('https://cdn.discordapp.com/attachments/684475244664193242/1119109123632529458/Mountain.png');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    opacity: 0.9;
    mix-blend-mode: multiply;
}

.TopInfo_Container {
    height: 4.4rem;
    width: 100%;
    background-color: #05342F;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.TopInfo_Container h1 {
    color: #9AB9A3;
}

.Mevio_Title {
    width: 18rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.Mevio_Title img {
    width: 18rem;
}

.Mevio_Title h2 {
    position: absolute;
    margin: 0;
    margin-left: 2rem;
    color: #9AB9A3;
    font-family: 'Caveat Brush', cursive;
}

.searcher {
    width: 100%;
    height: 3rem;
    border-radius: 10px;
    background-color: #E0EBE0;
    padding-left: 4rem;
    font-size: 25px;
    border: none;
}

.loupe_container {
    display: flex;
    align-items: center;
}

.loupe_container img {
    position: absolute;
    margin-left: 1rem;
}

.create_btn {
    position: absolute;
    left: 0;
    color: #9AB9A3;
    border-radius: 10px;
    width: 142px;
    height: 3rem;
    font-size: 24px;
    border: 1px solid cadetblue;
}

.toTheRight_container {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    margin-left: auto;
    margin-right: 1rem;
}

/* body section --------------------------------------------------------------------------------------*/
.desks_body_container {
    position: absolute;
    display: flex;
    width: 100%;
    height: 110%;
}

.side_Menu_Container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    background-color: #20423F;
    margin: 0;
    justify-content: flex-start;
    opacity: 0.8;
    width: 21vw;
    min-width: 290px;
}

.side_Menu_Container button,
.myDesks .desk {
    width: auto;
    height: 3.5rem;
    min-height: 3.5rem;
    margin: 0;
    color: #9AB9A3;
    border: none;
    font-size: 25px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    word-wrap: break-word;
}

hr {
    padding: 0.2rem;
    margin: 0;
    background-color: #023A36;
}

.side_Menu_Container button span,
.myDesks .desk span {
    width: 100%;
    display: flex;
    margin: 0 13%;
    word-wrap: break-word;

}

.side_Menu_Container button span span {
    margin: 0 8%;
    word-wrap: break-word;
    font-size: 3.5vh;
}

.side_Menu_Container p {
    width: 100%;
    color: #9AB9A3;
    font-weight: 700;
    padding-left: 2.8rem;
    padding-right: 1rem;
    word-wrap: break-word;
    background-color: #023A36;
}

.my-desk-item {
    border-bottom: 5px solid #023A36;
}

.my-desk-item-span {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 25px;
    height: 85px;
    overflow: hidden;
}

.my-desk-item-image {
    width: 85px;
    height: 55px;
    margin-left: 30px;
    border-radius: 10px;
}

.my-desk-item-title {
    color: #9AB9A3;
    font-size: 2.5vh;
}

.sidebar-menu-item {
    display: flex;
    align-items: center;
    height: 7vh;
}
.sidebar-menu-item:first-child {
    border-bottom: 4px solid #023A36;
    border-right: 2px solid #023A36;
}

.sidebar-menu-item img {
    min-width: 5vh;
}

.sidebar-category-title {
    height: 5vh;
    font-size: 2.5vh;
}
.side_Menu_Container p {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.side_Menu_Container p span {
    margin-left: auto;
    cursor: pointer;
}

.side_Menu_Container p:last-child span:before {
    content: none;
}

.side_Menu_Container p:last-child span img {
    margin-left: 0.5rem;
    transition: transform 0.3s ease;
}

.rotate_img.rotate180 {
    transform: rotate(-180deg);
}

.desk {
    width: 100%;
}

.desk span {
    font-size: 20px;
    white-space: nowrap;
    align-items: center;
}

.myDesks {
    width: 100%;
    height: 30%;
    overflow: auto;
    display: flex;
    flex-direction: column;
}

::-webkit-scrollbar {
    height: 5px;
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background: #1a202c;
}


/* middle section -------------------------------------------------------*/
.middle_desks_container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
    padding: 0;
}

.middle_top_body {
    position: relative;
    width: 100%;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #20423F;
}

.middle_top_body h1 {
    font-weight: 400;
    font-size: 36px;
    color: #9AB9A3;
    margin: 0; /* Reset margin */
}

.middle_middle_body {
    display: flex;
    flex-direction: column;
    /* padding-left: 2rem; */
    width: 100%;
    height: 100%;
    overflow: auto;
}

.combobox {
    width: 20rem;
    background-color: #E0EBE0;
    color: #05342F;
    font-size: 25px;
    border-radius: 10px;
    border: none;
    margin-left: auto;
    margin-right: 5rem;
    padding-left: 1rem;
}

.combobox:first-child {
    margin-top: 1.5%;
}

.search_sorting {
    display: flex;
    align-items: center;
    gap: 3rem;
    padding-left: 3%;
}

.search_desk {
    display: flex;
    flex-direction: column;
}

.search_desk p {
    font-weight: 700;
    font-size: 25px;
    color: #05342F;
    margin: 0;
}

.searcher1 {
    width: 100%;
    height: 2rem;
    border-radius: 5px;
    background-color: #E0EBE0;
    padding-left: 1rem;
    font-size: 25px;
    border: none;
}

.searcher1::placeholder {
    color: #05342F;
}

.desks_amount {
    margin-top: 2%;
    font-weight: 500;
    font-size: 25px;
    margin-left: 3%;
}

.boards {
    width: 90%;
    height: 24rem;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 3%;
    align-items: center;
}

.group_container {
    position: relative;
    width: 14rem;
    display: flex;
    justify-content: center;
    margin-bottom: 2%;
}

.group_container p {
    top: 10px;
    position: absolute;
    z-index: 1;
    color: white;
    font-size: 20px;
    left: 25px;
}

.group_container img {
    width: 95%;
    filter: brightness(85%)
}

.group_container p img {
    width: 100%;
    position: relative;
    margin-top: 140%;
    margin-right: -6.5rem;
    margin-left: 6.5rem;
}
